<html>
<head>
	<style>
		
body{
   background-image:url("/assets/bg3.jpg");
   background-repeat: no-repeat;
   background-size: cover;
   	
}
</style>
</head>
<body>
<%=link_to "Back to list" , controller: "book", action: 'list', class: "back-link" %>

<div class ="Page New">
	<h2> Create New Record</h2>

	<%= form_for(:books, url: {controller: "book", action: 'create'}) do |t| %>

	<table summary="Book form fields">

		<tr>
			<th> Name</th>
			<td> <%= t.text_field(:name) %></td>
		</tr>
		<tr>
			<th> Price</th>
			<td> <%= t.text_field(:price) %></td>
		</tr>


		<tr>
			<th> Author</th>
			<td> <%= t.text_field(:author) %></td>
		</tr>


	</table>
	<div class = "form-button">
	     <%= submit_tag("create book")%>
	 </div>
	 <% end %>
</div>	 
</body>
</html>