<% if current_user %>
Logged in as <%=current_user.email %>

<%=link_to "Log Out", controller:"sessions",action:'destroy' %>
<% else %>

<%=link_to 'Sign Up', controller:"users",action:'new' %> or
<%=link_to 'Log In', controller:"sessions",action:'new' %>
<%end%>
<p id='notice'><%=notice%></p>
<h1>HOME</h1>
